.nav-bar {
  background-color: $color1;
  margin: -8px 0 0 0;
}

.dropdown-title {
  color: $color2;
  font-size: large;
  font-weight: 600;
}

.dropdown-title2 {
  height: 30px;
  width: 30px;
}

.dropdown-toggle {
  &:hover {
    color: $color2;
  }
  &::after {
    color: $color2;
  }
}

.nav-title {
  font-size: xx-large;
  font-weight: bolder;
  color: $color2;

  &:hover {
    color: $color2;
    filter: drop-shadow(5px 5px 5px 5px $color1);
  }
}

.nav-text {
  font-size: large;
  font-weight: 600;
  color: $color2;

  &:hover {
    color: $color4;
    background-color: $color1;
  }
}

.dropdown-menu {
  background-color: $color1;
}

.nav-items {
  padding: 0 10px;
}

.dropdown {
  padding: 0 25px;
}

.navbar-toggler {
  background-color: $color2;
}
