<<<<<<< HEAD
.row {
  --bs-gutter-x: 0em;
  align-items: center;
  margin-top: 0px;
}
.bodydiv {
  margin-top: 90px;
}
.pwd {
  display: flex;
  justify-content: space-between;
}
=======
.row{
    --bs-gutter-x: 0em;
    align-items: center;
    margin-top: 0px;
    
}
.bodydiv{
    margin-top: 90px;
}
.pwd{
    display: flex;
    justify-content: space-between;
}



>>>>>>> 536055118085a1e3b37775d7348c21ace9ee32db
