.row {
  --bs-gutter-x: 0em;
  align-items: center;
  margin-top: 0px;
}
.bodydiv {
  margin: 0;
}
.pwd {
  display: flex;
  justify-content: space-between;
}

.login-title {
  color: $color1;
  font-weight: "750";
}

.dont-have-acc {
  font-weight: 700;

  .signupp {
    color: $color1;
    font-weight: bold;
    margin: 0 0 0 15px;
    text-decoration: none;
  }
}

.form-label {
  font-weight: 500;
}

// .login-btn {
//   color: $color2;
//   background-color: $color1;
//   width: 100%;

//   &:hover {
//     background-color: $color1;
//   }
// }
