// colors
$color1: rgba(27, 26, 85, 1);
$color1_2: rgba(83, 92, 145, 1);
$color1_3: rgba(27, 26, 85, 0.4);
$color1_4: rgba(235, 238, 255, 1);

$color2: white;

$color3: black;
$color3_1: rgba(0, 0, 0, 0.5);

$color4: rgba(243, 190, 94, 1);
